.getToKnow {
  padding: 0px 200px;
  margin-bottom: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.body {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title {
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 20px;
  text-align: left;
  font-family: "Wix Madefor Text";
  z-index: 2;
}

.descriptionText {
  font-size: 22px;
  text-align: left;
  font-weight: 400;
  font-family: "Wix Madefor Text";
  z-index: 2;
}

.btnContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
}
.motionbtn1,.motionbtn{
  width: 100%;
}
.btn{
  font-family: "Wix Madefor Text";
  width: 100%;
  max-width: 300px;
  height: 50px;
  z-index: 9999;
}
.btn1 {
  font-family: "Wix Madefor Text";
  z-index: 9999;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-weight: 500;
  border-radius: 25px;
  border: 1.5px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn1:hover {
  background-color: rgb(69, 92, 233);
  color: white;
  border: none;
}

/* Grid section */
.gridSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-top: 50px;
  z-index: 2;
}

.gridItem {
  text-align: left;
  border-top: 1px solid rgb(149, 149, 149);
  padding: 20px 0px;
  z-index: 2;
}

.gridItem h2 {
  font-size: 22px;
  font-weight: 600;
}

.gridItem p {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

@media (max-width: 1250px) {
    .getToKnow {
        padding: 0px 130px;
      }
}
@media (max-width: 1024px) {
  .getToKnow {
    padding: 0px 100px;
  }
  .gridSection {
    grid-template-columns: 1fr;
    margin-top: 0;
    gap: 0px;
  }
  .title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 0px;
  }
  .gridItem {
    border: none;
  }
  .btnContainer {
    margin-top:  10px;
  }
}
@media (max-width: 730px) {
  .getToKnow{
    padding: 0px 80px;
  }
  .title {
    font-size: 40px;
    line-height: 45px;
  }
  .descriptionText {
    font-size: 20px;
  }
  .getToKnow {
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .getToKnow{
    padding: 0px 50px;
  }
  .gridItem {
    padding: 10px 0px;
    z-index: 2;
  }
  .gridItem p {
    color: gray;
  }
}
@media (max-width: 520px) {
  .getToKnow{
    padding: 0px 30px;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .body{
    gap: 10px;
  }
  .btnContainer{
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  .btn,.btn1{
    max-width: none;
    border-radius: 10px;
  }
}