.container {
    width: 350px;
    height: 480px;
    background: linear-gradient(to bottom, #615EFF, #9DA1FF);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.circle{
    width: 70px;
    height: 70px;
    background-color: #D2CBFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#615EFF ;
}
.content{
    padding: 20px;
}
.quote{
    padding-top: 0px;
    font-size: 25px;
    color: white;
}
.name{
    margin-top:30px;
    color: white;
    font-weight: 400;
}