.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    z-index: 100;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -100px;
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.title {
    color: black;
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

.animatedGradient {
    font-weight: 700;
    background: linear-gradient(90deg, #AB2FF8, #FC059F);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.desc {
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    color: rgb(83, 83, 83);
}

.ServiceNav {
    width: 100%;
    height: 53px;
    margin-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.nav {
    width: 100%;
    height: 100%;
    background-color: #E3E3E3;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #795DFB;
    font-size: 16px;
}

.bold {
    color: blue;
    cursor: pointer;
}

.rocket {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

@media (max-width: 1270px) {
    .title {
        font-size: 38px;
    }

    .desc {
        font-size: 22px;
    }

    .ServiceNav {
        padding-left: 150px;
        padding-right: 150px;
    }

    .nav {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .title {
        font-size: 30px;
    }

    .desc {
        font-size: 18px;
    }

    .ServiceNav {
        height: 45px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .nav {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 14px;
    }

    .desc {
        font-size: 14px;
    }

    .ServiceNav {
        height: 45px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .nav {
        font-size: 12px;
    }
}

@media (max-width: 630px) {
    .title {
        font-size: 20px;
    }

    .desc {
        margin-top: 10px;
        font-size: 10px;
    }

    .ServiceNav {
        margin-top: 10px;
        height: 35px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .nav {
        font-size: 10px;
    }

    .rocket {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }
}

@media (max-width: 440px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .title br,
    .desc br {
        display: none;
    }

    .title {
        font-size: 20px;
    }

    .desc {
        margin-top: 10px;
        font-size: 10px;
    }

    .ServiceNav {
        margin-top: 10px;
        height: 40px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .nav {
        font-size: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .rocket {
        display: none;
    }
}