.dropdown-icon {
    width: 240px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dropdown-icon span {
    background-color: tomato;
    width: 120px;
    height: 20px;
    display: inline-block;
    position: absolute;
    border-radius: 12px;
    cursor: pointer;
    transition: .5s;
}

.dropdown-icon span:nth-child(1) {
    left: 24px;
    transform: rotate(45deg);
}

.dropdown-icon:hover span:nth-child(1) {
    transform: rotate(135deg);
}

.dropdown-icon span:nth-child(2) {
    right: 24px;
    transform: rotate(-45deg);
}

.dropdown-icon:hover span:nth-child(2) {
    transform: rotate(-135deg);
}