.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.title {
    font-size: 4rem;
    color: rgb(0, 0, 0);
    text-align: center;
}