.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    /* background-attachment: scroll;  Ensure the background does not have a fixed attachment */
}

.container {
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 50px;
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.title {
    color: black;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
}

.desc {
    color: gray;
    font-size: 18px;
    text-align: start;
    max-width: 600px;
}

.animatedGradient {
    font-weight: 700;
    background: linear-gradient(90deg, #ab2ff8, #fc059f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.caption {
    height: 100px;
    width: 300px;
    background-color: white;
    position: absolute;
    bottom: -150px;
    right: -150px;
    z-index: 100;
}

@media (max-width: 1490px) {
    .main {
        height: 100%;
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .content {
        justify-content: center;
    }

    .title {
        text-align: start;
    }

    .desc {
        text-align: start;
        max-width: 900px;
    }
}

@media (max-width: 1120px) {
    .title {
        text-align: start;
        font-size: 32px;
    }

    .desc {
        text-align: start;
        max-width: 700px;
    }
}

@media (max-width: 900px) {
    .desc {
        text-align: start;
        max-width: 500px;
        font-size: 16px;
    }
}

@media (max-width: 660px) {
    .container {
        gap: 20px;
    }

    .title {
        font-size: 26px;
    }

    .desc {
        max-width: 400px;
        font-size: 14px;
    }
}
@media (max-width: 530px) {
    .desc {
        max-width: 300px;
    }
}
@media (max-width: 430px) {
    .desc {
        max-width: 240px;
    }
}