@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main {
    padding: 10px;
}

.container {
    height: 100vh;
    margin-top: -120px;
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    overflow: hidden;
    background-image: url('/images/banner/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.textContent {
    text-align: center;
    color: #fff;
    padding: 0 20px;
}

.logo {
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 16px;
    color: #505050;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
}

.title {
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: #000000;
    margin-bottom: 20px;
}

.highlight {
    color: #a5a5a5;
}

.subtitle {
    font-family: 'Wix Madefor Text', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.viewCourses {
    font-family: 'Wix Madefor Text', sans-serif;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn{
    z-index: 9999999999;
}
.viewCourses:hover {
    background-color: #7c7dff;
    color: #fff;
}

.imageContainer {
    margin-top: 30px;
}

.heroImage {
    width: 100%;
    max-width: 800px;
    bottom: 0;
}