.container {
    height: 200vh;
    padding-top: 80px;
    /* Extra top padding */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align items at the top */
    flex-direction: column;
    background-color: white;
}

.videoPlayer {
    height: 600px;
    /* Fixed height */
    border-radius: 40px;
    width: 80%;
    /* Initial width */
}