.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
    max-width: 750px;
    line-height: 34px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.right {
    color: rgb(44, 44, 255);
}

.viewMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

.customList {
    list-style-type: circle;
    padding-left: 50px;
}

.customList li::before {
    content: "•";
    color: rgb(170, 0, 255);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}