.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: -30px;
    height: 50vh;
}

.lottieWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.lottiePlayer {
    max-width: 500px;
    /* Maximum width */
    max-height: 500px;
    /* Maximum height */
    width: 100%;
    /* Responsive width */
    height: auto;
    /* Maintain aspect ratio */
}

.notFoundText {
    font-size: 4vw;
    /* Responsive text size */
    color: #acacac;
    margin-top: -80px;
    text-align: center;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .notFoundContainer {
        justify-content: center;
    }
    .notFoundText {
        font-size: 5vw;
        margin-top: -40px;
    }

    .lottiePlayer {
        max-width: 300px;
        max-height: 300px;
        margin-left: 20px;
    }
}

