.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    /* Ensure it doesn't block any other interactions */
    transform: translate(-50%, -50%);
    z-index: 8;
    /* Ensure it's above everything */
    mix-blend-mode: difference;
    /* For a cool blend effect */
    transition: transform 0.1s ease-out, scale 0.3s ease;
    /* Smooth transition for both position and scaling */
}