.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.logoContainer {
    width: 54px;
    padding: 6px;
    border-radius: 10px;
    margin-top: 4px;
}

.langContainer,
.TopicContainer,
.LevelContainer {
    background-color: #1c1c1c;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-radius: 10px;
    gap: 8px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-color: #282828;
    position: relative;
    /* Required for positioning the tooltip */
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow: visible;
}

.c {
    width: 23px;
}

.icon:hover {
    background-color: #3c00ff;
}

.selected {
    background-color: #3c00ff;
    /* Change background to blue */
    color: white;
}

.selected:hover {
    background-color: #3c00ff;
    color: white;
}