.container {
    padding: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title,
.subHeading,
.titleDesc {
    text-align: center;
}

.animatedGradient {
    font-weight: 600;
    background: linear-gradient(90deg, #ab2ff8, #fc059f);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.subHeading {
    font-weight: 500;
    margin-bottom: -8px;
}

.title {
    font-size: 44px;
    font-weight: 600;
}

.titleDesc {
    font-size: 20px;
    font-weight: 300;
}

.descContainer {
    max-width: 1100px;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    gap: 30px;
    justify-content: center;
    width: 100%;
}

/* Responsive layout */
@media (max-width: 1180px) {
    .content {
        grid-template-columns: repeat(2, 255px);
        column-gap: 80px;
        /* 2 cards in a row for tablets and small laptops */
    }
}

@media (max-width: 700px) {
    .content {
        grid-template-columns: repeat(1, 255px);
        /* 1 card per row for mobile */
    }
}

.desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 10px;
    color: gray;
    text-align: center;
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamImg {
    width: 950px;
    height: auto;
    border-radius: 50px;
}

.overlayText {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 62px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .overlayText {
        font-size: 48px;
        top: 15px;
        padding: 8px 16px;
    }
}
@media (max-width: 768px) {
    .overlayText {
        font-size: 38px;
        top: 15px;
        padding: 8px 16px;
    }
}

@media (max-width: 568px) {
    .overlayText {
        font-size: 28px;
        top: 14px;
        padding: 6px 12px;
    }
}

@media (max-width: 460px) {
    .overlayText {
        font-size: 24px;
        top: 10px;
        padding: 4px 8px;
    }
}

/* Responsive Typography */
@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    .titleDesc {
        font-size: 18px;
    }

    .subHeading {
        font-size: 18px;
    }

    .teamImg {
        width: auto;
        height: auto;
        border-radius: 40px;
    }
}

@media (max-width: 568px) {
    .title {
        font-size: 30px;
    }

    .titleDesc {
        font-size: 16px;
    }

    .subHeading {
        font-size: 16px;
    }
}

@media (max-width: 460px) {
    .container {
        padding: 30px;
    }
}