.container {
    display: flex;
    height: auto;
    margin-bottom: 100px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.left {
    background-color: #E2D8FF;
    max-width: 620px;
    width: auto;
    height: auto;
    flex-shrink: 0;
    padding: 70px;
    padding-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.right {
    background-color: #b89cff;
    flex-grow: 1;
    height: auto;
}

.right video {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
}

.title {
    font-size: 50px;
    line-height: 60px;
    font-family: "Wix Madefor Text";
    text-align: left;
}

.description {
    font-size: 20px;
    line-height: 30px;
    font-family: "Wix Madefor Text";
    font-weight: 400;
    text-align: left;
}

.btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.btn {
    font-family: "Wix Madefor Text";
    z-index: 9999;
    width: 200px;
    height: 50px;
}
@media (max-width: 1540px) {
.container {
        display: flex;
        height: auto;
        margin-bottom: 100px;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
    }

    .left {
        background-color: #E2D8FF;
        max-width: 620px;
        width: 40%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .right {
        background-color: #b89cff;
        height: auto;
        width: 60%;
    }
}
@media (max-width: 1450px) {
    .title {
        font-size: 40px;
        line-height: 50px;
    }
    .description {
        font-size: 18px;
        line-height: 28px;
    }
    .left {
        padding: 40px;
        padding-left: 60px;
        gap: 15px;
    }
}
@media (max-width: 1180px) {
    .container {
        flex-direction: column-reverse;
    }

    .left {
        width: 100%;
        height: auto;
        padding: 100px;
        max-width: none;
    }
    .right{
        width: 100%;
    }
    .right video {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 800px) {
    .left {
        padding: 70px;
    }
}
@media (max-width: 560px) {
    .left {
        padding: 50px;
        gap: 10px;
    }
    .btnContainer{
        margin-top: 10px;
    }
    .btn {
        font-size: 14px;
        width: 140px;
        height: 40px;
    }
}
@media (max-width: 480px) {
    .left {
        padding: 30px;
    }
    .title {
        font-size: 30px;
        line-height: 35px;
        font-weight: 500;
    }
    .description {
        font-size: 16px;
        line-height: 24px;
    }
}