@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/YourComponent.module.css */
.myText {
  font-family: 'Wix Madefor Text';
}

:root {
  --gradient-color: linear-gradient(90deg, hsl(0, 0%, 0%) 0%, hsl(0, 0%, 0%) 100%);
  --black-color: hsl(0, 0%, 100%);
  --reflection-color: hsla(48, 30%, 95%, .3);
  --body-color: hsl(48, 100%, 98%);
  --normal-font-size: 1rem;
}
p{
  font-family: "Wix Madefor Text",sans-serif;
}
body {
  color:black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
