@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/YourComponent.module.css */
.myText {
  font-family: 'Wix Madefor Text';
}




body {
  color:black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
