/* Custom Scrollbar Styles */
.content::-webkit-scrollbar {
    width: 14px;
    height: 8px;
}

.content::-webkit-scrollbar-track {
    background: #daecff;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #0077ff;
    border-radius: 10px;
    border: 2px solid #daecff;
    /* Adds padding around the thumb */
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #005bb5;
    /* Darker blue on hover */
}

.content::-webkit-scrollbar-corner {
    background: #daecff;
}
.container {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 26px;
    box-shadow: 0 4px 16px 6px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.tabs {
    background-color: #daecff;
    border-radius: 20px;
    width: 325px;
    padding: 15px;
    position: sticky;
    top: 20px;
    /* Adjust this value as per your layout */
    height: 100%;
    max-height: 100vh;
    /* Ensures it remains visible within the viewport */
}

.h2 {
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.btn {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #0077ff;
    color: white;
}

.active {
    background-color: #0077ff;
    color: white;
}

.content {
    flex: 1;
    padding: 30px;
    padding-left: 35px;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin-left: 20px;
    max-height: calc(100vh - 40px);
    /* Adjusts according to the viewport */
    overflow-y: auto;
        padding-bottom: 50px;
    /* Allows scrolling for content */
}
