.videoWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 100%;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 480px;
    cursor: pointer;
    position: relative;
}

.playButton {
    font-size: 48px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.playButton:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
@media screen and (max-width: 1400px) {
    .thumbnail {
        height: 675px;
    }
}