/* Sidebar container */
.main {
    height: 100vh;
    /* Sidebar takes full height of the viewport */
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* Enable automatic vertical scrolling */
    scrollbar-width: thin;
    /* For Firefox */
    scrollbar-color: #5a5a5a #161616;
    /* Scrollbar colors */
    -webkit-overflow-scrolling: touch;
    gap: 10px;
    /* Enable smooth scrolling for touch devices */
}

/* Custom scrollbar styling */
.main::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.main::-webkit-scrollbar-track {
    background: #161616;
    /* Scrollbar track background */
}

.main::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Rounded scroll thumb */
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #0004ff;
    /* Blue hover effect on the scrollbar thumb */
}

/* Add spacing between dropdown containers */
.LangContainer,
.TopicsContainer,
.LevelContainer {
    margin-bottom: 15px;
}


.header {
    width: 100%;
    height: 60px;
    background-color: #161616;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logoContainer {
    width: 44px;
    margin-left: 3px;
}

.title {
    padding: 0 13px;
    margin-left: 13px;
    border-left: 2px solid gray;
    font-size: 18px;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}