@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* No changes in existing styles */
.container {
    height: 100vh;
    margin-top: -100px;
    background-color: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url('/images/banner/grid.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* New class to wrap animated elements */
.contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-size: 20px;
    font-family: 'Wix Madefor Text';
    z-index: 1;
    margin-bottom: 10px;
}

.title {
    color: rgb(202, 202, 202);
    font-family: 'Wix Madefor Text';
    font-size: 44px;
    z-index: 1;
}
.desc{
    color: rgb(146, 146, 146);
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    font-weight: 300;
}
.animatedGradient2 {
    font-weight: 600;
    background: linear-gradient(90deg, #ab2ff8, #fc059f, #fb6161);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
}

.animatedGradient {
    font-weight: 600;
    background: linear-gradient(90deg, #272727, #e3e3e3,#383838);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 200% 100%;
    /* Double the width to enable smooth looping */
    animation: gradientAnimation 4s ease infinite;
    /* Slower animation with 10s duration */
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 0;
        /* Start from far right */
    }

    100% {
        background-position: -200% 0;
        /* Move all the way to the left */
    }
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.btnContainer {
    position: relative;
    margin-top: 40px;
    z-index: 9999;
}

.btn {
    width: 170px;
    height: 40px;
    text-align: center;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}