.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.banner {
    height: 500px;
    width: 100%;
    max-width: 1400px;
    min-width:1200px ;
    background-color: #1C1D20;
    border-radius: 29px;
    position: relative;
    overflow: hidden;
    padding: 100px;
}

.circle_1 {
    height: 300px;
    width: 300px;
    background-color: #292A2D;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    left: -150px;
}

.circle_2 {
    height: 300px;
    width: 300px;
    background-color: #fb02de;
    border-radius: 50%;
    position: absolute;
    bottom: -150px;
    right: -150px;
}
.icon{
    height: 65px;
    width: 65px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.title{
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.star{
    margin-left: 15px;
}
.desc{
    font-size: 20px;
    color: #d6d6d6;
    font-weight: 300;   
}
.btn{
    justify-content: flex-start;
}
@media (max-width: 1270px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
    .banner {
        height: 400px;
        max-width: 100%;
        min-width: 800px;
        padding: 70px;
        padding-left: 80px;
        padding-right: 80px;
    }
    .circle_1 {
        height: 250px;
        width: 250px;
    }
    
    .circle_2 {
        bottom: -180px;
        right: -180px;
    }
    
    .icon {
        height: 55px;
        width: 55px;
    }
    .star {
        margin-left: 15px;
        height: 55px;
        width: 45px;
    }
    .title{
        font-size: 38px;
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .desc {
        font-size: 18px;
        font-weight: 200;
    }
}
@media (max-width: 860px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .banner {
        height: 300px;
        max-width: 100%;
        min-width: 600px;
        padding: 40px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .circle_1 {
        height: 175px;
        width: 175px;
        top: -100px;
        left: -100px;
    }

    .circle_2 {
        height: 250px;
        width: 250px;
        bottom: -150px;
        right: -150px;
    }

    .icon {
        top: 20px;
        right: 30px;
        height: 45px;
        width: 45px;
    }
    .star {
        margin-left: 15px;
        height: 55px;
        width: 35px;
    }

    .title {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .desc {
        font-size: 15px;
        font-weight: 200;
    }
}
@media (max-width: 620px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }

    .banner {
        height: 400px;
        max-width: 100%;
        min-width: 300px;
        padding: 50px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .circle_1 {
        height: 175px;
        width: 175px;
        top: -100px;
        left: -100px;
    }

    .circle_2 {
        height: 250px;
        width: 250px;
        bottom: -150px;
        right: -150px;
    }

    .icon {
        top: 10px;
        right: 20px;
        height: 35px;
        width: 35px;
    }

    .star {
        margin-left: 15px;
        height: 55px;
        width: 35px;
    }

    .title {
        font-size: 23px;
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 500;
        display: flex;
    }

    .desc {
        font-size: 13px;
        font-weight: 200;
    }
}
@media (max-width: 554px) {
    .star {
        margin-left: 15px;
        height: 55px;
        width: 35px;
        margin-bottom: 20px;
    }
    .p{
        width:120px;
    }

}