.container {
    height: 100%; /* Full viewport height */
    padding: 80px 130px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the video */
    flex-direction: column;
    background-color: white;
    z-index: 2;
}

.videoPlayer {
    height: 100%; /* Make the video take up the full height */
    width: 100%; /* Make the video take up the full width */
    border-radius: 40px;
    object-fit: cover; /* Ensures the video covers the container while maintaining aspect ratio */
    z-index: 2;
}
@media screen and (max-width: 1024px) {
    .container{
        padding: 80px 100px;
    }
}
@media screen and (max-width: 880px) {
    .container {
        padding: 70px;
    }
    
}
@media screen and (max-width: 680px) {
    .container {
        padding: 50px;
    }
    .videoPlayer {
        border-radius: 15px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding: 30px;
    }
}
