/* General container styling */
.container {
    display: flex;
    background-color: #ececec;
    height: 100vh;
    padding: 10px;
    overflow: hidden;
}
.mobile{
    display: none;
    opacity: 0;
}
/* Sidebar styles */
.sidebar {
    width: 360px;
    background-color: #000000;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    transition: width 0.3s ease;
    position: relative;
    overflow: auto;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

/* Collapsed sidebar style */
.collapsed {
    width: 74px;
    /* Collapsed width */
}

/* Mobile sidebar hidden by default */
@media (max-width: 840px) {
    .sidebar {
        position: fixed;
        left: -360px;
        top: 0;
        height: 100vh;
        width: 330px;
        z-index: 1000;
        transition: left 0.3s ease;
        /* Smooth transition for mobile sidebar */
    }

    .mobileSidebarVisible {
        left: 0;
    }
}

/* Main content section */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    transition: padding-left 0.3s ease;
    /* Smooth transition for padding adjustment when sidebar collapses/expands */
}

/* Close button inside mobile sidebar */
.closeMobileSidebar {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
    display: none;
}

/* Show close button only on mobile screens */
@media (max-width: 840px) {
    .closeMobileSidebar {
        display: block;
    }
}

/* Body section */
.body {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 100%;
    width: 100%;
    gap: 20px;
    border-radius: 20px;
    overflow: auto;
    scrollbar-width: 0;
}

/* Hide scrollbar */
.body::-webkit-scrollbar {
    display: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
@media (max-width: 840px) {
    .container{
        display: none;
    }
    .mobile{
        display: flex;
        opacity: 1;
    }
}