.container {
    height: 100px;
    background-color: transparent;
    padding: 20px 70px;
    padding-bottom: 3px;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.bg {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.left {
    width: 250px;
    height: 100%;
}

.middle {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}
.right {
    width: 250px;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



