.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1d;
}

.title {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    text-align: center;
}